---
import { getCollection } from 'astro:content';
import Layout from '../../../layouts/Layout.astro';
import NoteCard from '../../../components/NoteCard.astro';

const { tag } = Astro.params;

const notes = (await getCollection('notes')).filter((note:any) =>
  note.data.tags?.includes(tag)
) ?? [];

export async function getStaticPaths() {
  const notes = await getCollection('notes');
  const tags = new Set(notes.flatMap((note:any) => note.data.tags ?? []));
  
  return Array.from(tags).map((tag:any) => ({
    params: { tag },
  }));
}
---

<Layout
    title={`Rakesh Gupta | ${tag} notes`}
    desc="Notebook of Rakesh Gupta, where he shares his thoughts and learning."
>
    <section class="blade-top-padding-lg border-b border-neutral-800">
        <div
            class="h-full relative blade-bottom-padding flex justify-end flex-col w-container blade-top-padding-lg gap-4 md:gap-6 lg:gap-5"
        >
            <div class="flex">
                <h3
                    class="capitalize pr-3 home-banner-title home-title text-shadow-title bg-title-gradient bg-clip-text text-transparent font-medium leading-tight mt-1 ml-1"
                >
                    <i>{tag} </i>
                </h3>
            </div>
           
        </div>
    </section>

    <div class="bg-black blade-top-padding-sm blade-bottom-padding-sm">
     <div class="w-container space-y-8">
        {notes.map((note: any) => <NoteCard data={note.data} />)}
     </div>
    </div>
</Layout>



