---
import skills from "../../static/skills.json";
---

<section class="pt-4 border-t border-neutral-800 ">
    <div class="w-container  blade-top-padding  blade-bottom-padding-lg">
        <h3
        class="text-transparent font-medium pt-1 bg-clip-text bg-contact-title"
      >
         I'm good at
        </h3>
        <h6 class="text-white text-opacity-80 pt-7 max-w-xl leading-relaxed font-regular">
      In last four years, I have worked with multiple tech stacks. Primarily, I have worked  with <span class="font-medium text-white">React</span> and <span class="font-medium text-white">Go</span>. 
        </h6>

        <div class="flex flex-wrap gap-4 md:gap-6 lg:gap-10 max-w-5xl blade-top-padding-sm">
        {skills.map((skill) => (
            <div class="flex flex-col items-center">
               <div class="size-20 grid place-content-center rounded-xl border border-neutral-800">
                <img src={skill.src} alt={skill.title} class="size-10" />
               </div>
                <span class="text-white text-opacity-80 pt-3 font-regular">{skill.title}</span>
            </div>
        ))}
    </div>
 
</section>