---

---

<footer
  class="border-t-1 border-white border-opacity-20 border-solid py-4 md:py-6 lg:py-7"
>
  <div class="w-container-lg">
    <span class="font-light text-white text-opacity-80">
      &copy;2025 All rights reserved. Rakesh Gupta
    </span>
  </div>
</footer>

<style>
  footer {
    background-color: #050713;
  }
</style>
