---

---

<footer
  class="border-t-1 border-white border-opacity-20 border-solid py-4 md:py-6 lg:py-7"
>
  <div class="w-container-lg flex-col md:flex-row flex justify-between md:items-center gap-4">
    <span class="font-light text-white text-opacity-80">
      &copy;2025 All rights reserved. Rakesh Gupta
    </span>
      <ul class="flex md:justify-end items-center gap-3">
        <li>
          <a
            href="/projects"
            class="text-white text-sm font-regular focus-visible:text-pink2 hover:text-pink2 transition-colors duration-200 ease-default outline-none focus-visible:outline-none md:pl-2 pr-2"
            >Projects</a
          >
        </li>

        <li>
          <a
            href="/notes"
            class="text-white text-sm font-regular focus-visible:text-pink2 hover:text-pink2 transition-colors duration-200 ease-default outline-none focus-visible:outline-none px-2"
            >Notes</a
          >
        </li>

        <li>
          <a
            href="https://drive.google.com/file/d/17CjnlODkc-aCLOypFBffK5tAgyK9GQj_/view?usp=drive_link"
            target="_blank"
            class="text-white text-sm font-regular focus-visible:text-pink2 hover:text-pink2 transition-colors duration-200 ease-default outline-none focus-visible:outline-none px-2"
            >Resume
          </a>
        </li>
      </ul>
  </div>
</footer>

