---

---

<footer
  class="border-t-1 border-white border-opacity-20 border-solid py-4 md:py-6 lg:py-7 px-3 md:px-5"
>
  <div class="w-container-lg">
    <span class="font-light text-white text-opacity-80">
      Created by
      <a
        href="https://linkedin.com/in/rakesh-gupta29"
        class="underline underline-offset-4 hover:text-pink2 text-white text-opacity-90 focuc-visible:text-pink2 focus-visible:outline-none outline-none font-normal transition-colors duration-200 ease-default focus-visible:text-pink2"
      >
        Rakesh Gupta</a
      >
    </span>
  </div>
</footer>

<style>
  footer {
    background-color: #050713;
  }
</style>
