---

---

<section
  class="min-h-[450px] md:h-[650px] blade-top-padding-lg border-b border-neutral-800"
>
  <div
    class="h-full relative blade-bottom-padding flex justify-end flex-col w-container blade-top-padding-lg gap-4 md:gap-6 lg:gap-5"
  >
    <h3
      class="home-banner-title home-title text-shadow-title bg-title-gradient opacity-0 scale-[0.98] origin-bottom bg-clip-text text-transparent font-medium leading-tight"
    >
      Creating delightful experiences with<br class="md:block hidden" /> Code, Creativity
      & Pragmatism.
    </h3>
    <span
      class="text-white md:text-lg text-base text-opacity-80 home-banner-subtitle max-w-2xl opacity-0 scale-[0.98] origin-bottom font-light leading-relaxed"
    >
      Hey! I am Rakesh. Working with web since 2021, I am a frontend developer
      who enjoys creating delightful yet pragmatic experiences. Currently
      working as Software Developer at <a
        href="https://www.linkedin.com/company/redrobofficial/?originalSubdomain=in"
        target="_blank"
        class="border-b hover:border-pink2 inline-flex gap-2 leading-none items-center hover:text-pink2 transition"
        >McKinley Rice

        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="size-3"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="m4.5 19.5 15-15m0 0H8.25m11.25 0v11.25"></path>
        </svg>
      </a>
      .
    </span>
  </div>
</section>

<style>
  @keyframes slideandappear {
    from {
      opacity: 0;
      scale: 0.98;
      transform: translateY(-16px);
    }
    to {
      scale: 1;
      opacity: 1;
      transform: translateY(0);
    }
  }
  @keyframes appear {
    from {
      opacity: 0;
      scale: 0.98;
    }
    to {
      scale: 1;
      opacity: 1;
    }
  }

  .home-banner-title,
  .home-banner-subtitle,
  .home-banner-cta {
    animation-duration: 1000ms;
    animation-fill-mode: forwards;
    animation-name: appear;
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .home-banner-chip {
    animation-duration: 400ms;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    animation-name: appear;
  }
  .home-banner-title {
    animation-delay: 0s;
  }
  .home-banner-subtitle {
    animation-delay: 200ms;
  }
  .home-banner-cta {
    animation-delay: 400ms;
  }
  .home-banner-chip {
    animation-delay: 0ms;
  }
</style>
