---

---

<section id="contact" class="blade-top-padding-sm blade-bottom-padding-lg">
  <div
    class="w-container blade-top-padding-sm grid gap-2 text-center blade-bottom-padding 2xl:blade-bottom-padding"
  >
    <div
      class="h-[120px] md:h-[130px] xl:h-[150px] blade-bottom-padding relative overflow-hidden"
    >
      <div class="inset-0 grid place-content-center place-items-center">
        <img
          src="/outer_circle.svg"
          class="w-full h-full object-center object-contain absolute inset-0 animate-spin-slow"
          alt="get in touch art"
        />
        <img
          src="/inner_circle.svg"
          class="w-full h-full object-center object-contain absolute inset-0"
          alt="get in touch art"
        />
      </div>
    </div>
    <div class="xl:pt-3">
      <h6
        class="text-transparent font-light bg-clip-text pt-5 feedback-text leading-snug"
      >
        Got something for me?
      </h6>

      <h2
        class="text-transparent font-medium pt-1 bg-clip-text bg-contact-title"
      >
        We should queue up a
      </h2>
      <h2 class="text-transparent bg-clip-text bg-contact-title font-medium">
        a time to chat.
      </h2>
    </div>

    <div
      class="grid place-content-center py-4 lg:py-5 xl:py-6 2xl:py-8"
      data-astro-cid-52wwn4yg=""
    >
      <a
        href="mailto:rakesh.rkgupta29@gmail.com"
        class="contact-btn text-black font-medium py-2 px-8 xl:px-10 xl:py-[10px] text-base md:text-lg font-semibold rounded-full focus-visible:outline-white outline-transparent hover:outline-white transition-all duration-300 ease-default outline outline-1 outline-offset-2"
      >
        Send a mail</a
      >
    </div>
  </div>
</section>

<style>
  .contact-btn {
    background: linear-gradient(180deg, #d5bbf0, #dad6ff);
  }
  .feedback-text {
    background-image: linear-gradient(
      174deg,
      #fff -22.74%,
      rgba(255, 255, 255, 0) 175.47%
    );
  }
</style>
