---
interface Props {
  title: string;
  desc1: string;
  desc2: string;
}
const { title, desc1, desc2 } = Astro.props;
---

<section
  id="contact"
  class="blade-top-padding-lg blade-bottom-padding-lg border-t border-neutral-800"
>
  <div
    class="w-container blade-top-padding-sm blade-bottom-padding-sm gap-2 md:flex justify-between"
  >
    <div>
      <h6
        class="text-transparent font-light bg-clip-text feedback-text leading-snug"
      >
        {title}
      </h6>

      <h3
        class="text-transparent font-medium pt-1 bg-clip-text bg-contact-title"
      >
        {desc1}
      </h3>
      <h3 class="text-transparent bg-clip-text bg-contact-title font-medium">
        {desc2}
      </h3>
    </div>

    <div class="grid place-content-start md:place-content-center mt-4 md:mt-0">
      <a
        href="mailto:rakesh.rkgupta29@gmail.com"
        class="contact-btn text-black font-regular py-2 px-8 xl:px-10 xl:py-[10px] text-base md:text-lg font-semibold rounded-full focus-visible:outline-white outline-transparent hover:outline-white transition-all duration-300 ease-default outline outline-1 outline-offset-2"
      >
        <span class="font-semibold block text-lg">Send a mail</span>
      </a>
    </div>
  </div>
</section>

<style>
  .contact-btn {
    background: linear-gradient(180deg, #d5bbf0, #dad6ff);
  }
  .feedback-text {
    background-image: linear-gradient(
      174deg,
      #fff -22.74%,
      rgba(255, 255, 255, 0) 175.47%
    );
  }
</style>
