---
import skills from "../../static/skills.json";
---

<section class="border-b border-neutral-800">
  <div
    class="w-container text-white font-light blade-top-padding blade-bottom-padding"
  >
    <h3 class="font-semibold">A bit about me</h3>
    <h6 class="text-white text-opacity-80 pt-7 max-w-xl leading-relaxed">
      My journey started at a design agency where I honed my eye for aesthetics
      and user experience.
    </h6>

    <h6 class="text-white text-opacity-80 pt-7 max-w-2xl leading-relaxed">
      Now, I bring that design-focused mindset to my product development role,
      bridging the gap between creative concepts and technical implementation. I
      love solving complex problems with clean, efficient code.
    </h6>
  </div>
  <div class="w-container blade-bottom-padding-lg">
    <div class="flex flex-wrap gap-x-6 max-w-2xl xl:max-w-4xl gap-y-6">
      {
        skills.map((elem) => {
          return (
            <article>
              <div class="grid mx-auto place-content-center h-[4.5rem]   rounded-xl p-[1px] skills-card w-[5rem] mb-2 ">
                <img
                  src={elem.src}
                  alt={elem.title}
                  class="h-9 px-3 w-auto object-contain object-center"
                />
              </div>
              <span class="text-white text-sm text-center p-1 block font-regular  text-opacity-80 ">
                {elem.title}
              </span>
            </article>
          );
        })
      }
    </div>
  </div>
</section>

<style>
  .process-chip {
    background-image: radial-gradient(circle at center, #d0c9c638, #d0c9c632);
    border: 1px solid #d0c9c655;
  }
  .skills-card {
    background:
      radial-gradient(circle at center, #050713 70%, rgb(34, 34, 34))
        content-box,
      linear-gradient(145deg, rgb(69, 69, 69), rgb(83, 83, 83)) border-box;
  }
</style>
