---

---

<section class="border-b border-neutral-800">
  <div
    class="w-container text-white font-light blade-top-padding blade-bottom-padding"
  >
    <h3 class="font-semibold">A bit about me</h3>
    <h6 class="text-white text-opacity-80 pt-7 max-w-xl leading-relaxed">
      Started my career at a design agency—developed a UX-first approach and an
      eye and appreciation for visuals. That mindset still drives how I build:
      clean interfaces, intuitive flows, and real-world usability.
    </h6>

    <h6 class="text-white text-opacity-80 pt-7 max-w-xl leading-relaxed">
      Now, in product development, I am working with small team, where we belive
      in shipping fast rather than making perfect plans.
    </h6>
  </div>
</section>

<style>
  .process-chip {
    background-image: radial-gradient(circle at center, #d0c9c638, #d0c9c632);
    border: 1px solid #d0c9c655;
  }
  .skills-card {
    background:
      radial-gradient(circle at center, #050713 70%, rgb(34, 34, 34))
        content-box,
      linear-gradient(145deg, rgb(69, 69, 69), rgb(83, 83, 83)) border-box;
  }
</style>
