---
import skills from "../../static/skills.json";
---

<section class="border-b border-neutral-800">
  <div
    class="w-container text-white font-light blade-top-padding blade-bottom-padding"
  >
    <h3 class="font-semibold">A bit about me</h3>
    <h6 class="text-white text-opacity-80 pt-7 max-w-xl leading-relaxed">
   My journey started at a design agency, where I developed a strong eye for visuals and user experience. That design-first mindset still drives how I build—focusing on clean interfaces, clear interactions, and real-world usability.
    </h6>

    <h6 class="text-white text-opacity-80 pt-7 max-w-xl leading-relaxed">
      Now, in product development, I move fast, take ownership, and thrive in early-stage environments where speed and focus matter. I’m comfortable in the chaos and always shipping.
    </h6>
  </div>

</section>

<style>
  .process-chip {
    background-image: radial-gradient(circle at center, #d0c9c638, #d0c9c632);
    border: 1px solid #d0c9c655;
  }
  .skills-card {
    background:
      radial-gradient(circle at center, #050713 70%, rgb(34, 34, 34))
        content-box,
      linear-gradient(145deg, rgb(69, 69, 69), rgb(83, 83, 83)) border-box;
  }
</style>
