---
import projects from "../../static/projects.json";
import Project from "../../components/Project.astro";
---

<section id="work" class="blade-top-padding-lg blade-bottom-padding-lg">
  <div
    class="contribution-graph max-w-[100vw] oveflow-hidden relative min-h-[250px] projects-title-wrapper"
  >
    <div class="max-w-[100vw] overflow-hidden">
      <svg
        width="1792"
        height="712"
        viewBox="0 0 1792 712"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        class="h-full w-full min-h-[250px] scale-150 md:scale-100 object-center object-cover"
      >
        <path
          d="M1126 180H1086C1082.69 180 1080 182.686 1080 186V226C1080 229.314 1082.69 232 1086 232H1126C1129.31 232 1132 229.314 1132 226V186C1132 182.686 1129.31 180 1126 180Z"
          fill="#006d32"></path>
        <path
          d="M654 0H614C610.69 0 608 2.686 608 6V46C608 49.314 610.69 52 614 52H654C657.31 52 660 49.314 660 46V6C660 2.686 657.31 0 654 0Z"
          fill="#006d32"></path>
        <path
          d="M594 368H554C550.69 368 548 370.686 548 374V414C548 417.314 550.69 420 554 420H594C597.31 420 600 417.314 600 414V374C600 370.686 597.31 368 594 368Z"
          fill="#006d32"></path>
        <path
          d="M818 240H778C774.69 240 772 242.686 772 246V286C772 289.314 774.69 292 778 292H818C821.31 292 824 289.314 824 286V246C824 242.686 821.31 240 818 240Z"
          fill="#006d32"
          fill-opacity="0.7"></path>
        <path
          d="M818 56H778C774.69 56 772 58.686 772 62V102C772 105.314 774.69 108 778 108H818C821.31 108 824 105.314 824 102V62C824 58.686 821.31 56 818 56Z"
          fill="#006d32"></path>
        <path
          d="M1006 240H966C962.69 240 960 242.686 960 246V286C960 289.314 962.69 292 966 292H1006C1009.31 292 1012 289.314 1012 286V246C1012 242.686 1009.31 240 1006 240Z"
          fill="#006d32"></path>
        <path
          d="M758 180H718C714.69 180 712 182.686 712 186V226C712 229.314 714.69 232 718 232H758C761.31 232 764 229.314 764 226V186C764 182.686 761.31 180 758 180Z"
          fill="#006d32"
          fill-opacity="0.3"></path>
        <path
          d="M346 660H306C302.69 660 300 662.686 300 666V706C300 709.314 302.69 712 306 712H346C349.31 712 352 709.314 352 706V666C352 662.686 349.31 660 346 660Z"
          fill="#006d32"
          fill-opacity="0.3"></path>
        <path
          d="M900 180H860C856.686 180 854 182.686 854 186V226C854 229.314 856.686 232 860 232H900C903.31 232 906 229.314 906 226V186C906 182.686 903.31 180 900 180Z"
          fill="#006d32"
          fill-opacity="0.4"></path>
        <path
          d="M654 240H614C610.686 240 608 242.686 608 246V286C608 289.314 610.686 292 614 292H654C657.314 292 660 289.314 660 286V246C660 242.686 657.314 240 654 240Z"
          fill="#006d32"
          fill-opacity="0.3"></path>
        <path
          d="M1126 240H1086C1082.69 240 1080 242.686 1080 246V286C1080 289.314 1082.69 292 1086 292H1126C1129.31 292 1132 289.314 1132 286V246C1132 242.686 1129.31 240 1126 240Z"
          fill="#006d32"
          fill-opacity="0.3"></path>
        <path
          d="M1186 240H1146C1142.69 240 1140 242.686 1140 246V286C1140 289.314 1142.69 292 1146 292H1186C1189.31 292 1192 289.314 1192 286V246C1192 242.686 1189.31 240 1186 240Z"
          fill="#006d32"
          fill-opacity="0.6"></path>
        <path
          d="M526 300H486C482.686 300 480 302.686 480 306V346C480 349.314 482.686 352 486 352H526C529.314 352 532 349.314 532 346V306C532 302.686 529.314 300 526 300Z"
          fill="#006d32"
          fill-opacity="0.3"></path>
        <path
          d="M526 240H486C482.686 240 480 242.686 480 246V286C480 289.314 482.686 292 486 292H526C529.314 292 532 289.314 532 286V246C532 242.686 529.314 240 526 240Z"
          fill="#006d32"></path>
        <path
          d="M1246 240H1206C1202.69 240 1200 242.686 1200 246V286C1200 289.314 1202.69 292 1206 292H1246C1249.31 292 1252 289.314 1252 286V246C1252 242.686 1249.31 240 1246 240Z"
          fill="#006d32"></path>
        <path
          d="M1246 360H1206C1202.69 360 1200 362.686 1200 366V406C1200 409.314 1202.69 412 1206 412H1246C1249.31 412 1252 409.314 1252 406V366C1252 362.686 1249.31 360 1246 360Z"
          fill="#006d32"
          fill-opacity="0.3"></path>
        <path
          d="M900 56H860C856.686 56 854 58.686 854 62V102C854 105.314 856.686 108 860 108H900C903.314 108 906 105.314 906 102V62C906 58.686 903.314 56 900 56Z"
          fill="#006d32"></path>
        <path
          d="M1306 180H1266C1262.69 180 1260 182.686 1260 186V226C1260 229.314 1262.69 232 1266 232H1306C1309.31 232 1312 229.314 1312 226V186C1312 182.686 1309.31 180 1306 180Z"
          fill="#006d32"></path>
        <path
          d="M1306 240H1266C1262.69 240 1260 242.686 1260 246V286C1260 289.314 1262.69 292 1266 292H1306C1309.31 292 1312 289.314 1312 286V246C1312 242.686 1309.31 240 1306 240Z"
          fill="#006d32"></path>
        <path
          d="M1306 300H1266C1262.69 300 1260 302.686 1260 306V346C1260 349.314 1262.69 352 1266 352H1306C1309.31 352 1312 349.314 1312 346V306C1312 302.686 1309.31 300 1306 300Z"
          fill="#006d32"></path>
        <path
          d="M1306 360H1266C1262.69 360 1260 362.686 1260 366V406C1260 409.314 1262.69 412 1266 412H1306C1309.31 412 1312 409.314 1312 406V366C1312 362.686 1309.31 360 1306 360Z"
          fill="#006d32"></path>
        <path
          d="M1366 60H1326C1322.69 60 1320 62.6863 1320 66V106C1320 109.314 1322.69 112 1326 112H1366C1369.31 112 1372 109.314 1372 106V66C1372 62.6863 1369.31 60 1366 60Z"
          fill="#006d32"></path>
        <path
          d="M1366 240H1326C1322.69 240 1320 242.686 1320 246V286C1320 289.314 1322.69 292 1326 292H1366C1369.31 292 1372 289.314 1372 286V246C1372 242.686 1369.31 240 1366 240Z"
          fill="#006d32"
          fill-opacity="0.3"></path>
        <path
          d="M1366 300H1326C1322.69 300 1320 302.686 1320 306V346C1320 349.314 1322.69 352 1326 352H1366C1369.31 352 1372 349.314 1372 346V306C1372 302.686 1369.31 300 1366 300Z"
          fill="#006d32"></path>
        <path
          d="M1366 360H1326C1322.69 360 1320 362.686 1320 366V406C1320 409.314 1322.69 412 1326 412H1366C1369.31 412 1372 409.314 1372 406V366C1372 362.686 1369.31 360 1366 360Z"
          fill="#006d32"></path>
        <path
          d="M1366 120H1326C1322.69 120 1320 122.686 1320 126V166C1320 169.314 1322.69 172 1326 172H1366C1369.31 172 1372 169.314 1372 166V126C1372 122.686 1369.31 120 1366 120Z"
          fill="#006d32"
          fill-opacity="0.3"></path>
        <path
          d="M406 360H366C362.686 360 360 362.686 360 366V406C360 409.314 362.686 412 366 412H406C409.314 412 412 409.314 412 406V366C412 362.686 409.314 360 406 360Z"
          fill="#006d32"></path>
        <path
          d="M406 120H366C362.686 120 360 122.686 360 126V166C360 169.314 362.686 172 366 172H406C409.314 172 412 169.314 412 166V126C412 122.686 409.314 120 406 120Z"
          fill="#006d32"
          fill-opacity="0.2"></path>
        <path
          d="M406 240H366C362.686 240 360 242.686 360 246V286C360 289.314 362.686 292 366 292H406C409.314 292 412 289.314 412 286V246C412 242.686 409.314 240 406 240Z"
          fill="#006d32"
          fill-opacity="0.5"></path>
        <path
          d="M406 300H366C362.686 300 360 302.686 360 306V346C360 349.314 362.686 352 366 352H406C409.314 352 412 349.314 412 346V306C412 302.686 409.314 300 406 300Z"
          fill="#006d32"></path>
        <path
          d="M406 180H366C362.686 180 360 182.686 360 186V226C360 229.314 362.686 232 366 232H406C409.314 232 412 229.314 412 226V186C412 182.686 409.314 180 406 180Z"
          fill="#006d32"></path>
        <path
          d="M346 420H306C302.686 420 300 422.686 300 426V466C300 469.314 302.686 472 306 472H346C349.314 472 352 469.314 352 466V426C352 422.686 349.314 420 346 420Z"
          fill="#006d32"></path>
        <path
          d="M346 480H306C302.686 480 300 482.686 300 486V526C300 529.314 302.686 532 306 532H346C349.314 532 352 529.314 352 526V486C352 482.686 349.314 480 346 480Z"
          fill="#006d32"
          fill-opacity="0.5"></path>
        <path
          d="M346 240H306C302.686 240 300 242.686 300 246V286C300 289.314 302.686 292 306 292H346C349.314 292 352 289.314 352 286V246C352 242.686 349.314 240 346 240Z"
          fill="#006d32"></path>
        <path
          d="M346 180H306C302.686 180 300 182.686 300 186V226C300 229.314 302.686 232 306 232H346C349.314 232 352 229.314 352 226V186C352 182.686 349.314 180 346 180Z"
          fill="#006d32"></path>
        <path
          d="M346 300H306C302.686 300 300 302.686 300 306V346C300 349.314 302.686 352 306 352H346C349.314 352 352 349.314 352 346V306C352 302.686 349.314 300 346 300Z"
          fill="#006d32"></path>
        <path
          d="M1426 480H1386C1382.69 480 1380 482.686 1380 486V526C1380 529.314 1382.69 532 1386 532H1426C1429.31 532 1432 529.314 1432 526V486C1432 482.686 1429.31 480 1426 480Z"
          fill="#006d32"></path>
        <path
          d="M354 0H314C310.69 0 308 2.686 308 6V46C308 49.314 310.69 52 314 52H354C357.31 52 360 49.314 360 46V6C360 2.686 357.31 0 354 0Z"
          fill="#006d32"></path>
        <path
          d="M1426 420H1386C1382.69 420 1380 422.686 1380 426V466C1380 469.314 1382.69 472 1386 472H1426C1429.31 472 1432 469.314 1432 466V426C1432 422.686 1429.31 420 1426 420Z"
          fill="#006d32"></path>
        <path
          d="M1426 240H1386C1382.69 240 1380 242.686 1380 246V286C1380 289.314 1382.69 292 1386 292H1426C1429.31 292 1432 289.314 1432 286V246C1432 242.686 1429.31 240 1426 240Z"
          fill="#006d32"></path>
        <path
          d="M1426 120H1386C1382.69 120 1380 122.686 1380 126V166C1380 169.314 1382.69 172 1386 172H1426C1429.31 172 1432 169.314 1432 166V126C1432 122.686 1429.31 120 1426 120Z"
          fill="#006d32"
          fill-opacity="0.8"></path>
        <path
          d="M1426 180H1386C1382.69 180 1380 182.686 1380 186V226C1380 229.314 1382.69 232 1386 232H1426C1429.31 232 1432 229.314 1432 226V186C1432 182.686 1429.31 180 1426 180Z"
          fill="#006d32"></path>
        <path
          d="M286 120H246C242.686 120 240 122.686 240 126V166C240 169.314 242.686 172 246 172H286C289.314 172 292 169.314 292 166V126C292 122.686 289.314 120 286 120Z"
          fill="#006d32"
          fill-opacity="0.6"></path>
        <path
          d="M286 420H246C242.686 420 240 422.686 240 426V466C240 469.314 242.686 472 246 472H286C289.314 472 292 469.314 292 466V426C292 422.686 289.314 420 286 420Z"
          fill="#006d32"
          fill-opacity="0.5"></path>
        <path
          d="M286 540H246C242.686 540 240 542.686 240 546V586C240 589.314 242.686 592 246 592H286C289.314 592 292 589.314 292 586V546C292 542.686 289.314 540 286 540Z"
          fill="#006d32"
          fill-opacity="0.7"></path>
        <path
          d="M286 360H246C242.686 360 240 362.686 240 366V406C240 409.314 242.686 412 246 412H286C289.314 412 292 409.314 292 406V366C292 362.686 289.314 360 286 360Z"
          fill="#006d32"
          fill-opacity="0.5"></path>
        <path
          d="M286 480H246C242.686 480 240 482.686 240 486V526C240 529.314 242.686 532 246 532H286C289.314 532 292 529.314 292 526V486C292 482.686 289.314 480 286 480Z"
          fill="#006d32"></path>
        <path
          d="M286 240H246C242.686 240 240 242.686 240 246V286C240 289.314 242.686 292 246 292H286C289.314 292 292 289.314 292 286V246C292 242.686 289.314 240 286 240Z"
          fill="#006d32"></path>
        <path
          d="M758 300H718C714.69 300 712 302.686 712 306V346C712 349.314 714.69 352 718 352H758C761.31 352 764 349.314 764 346V306C764 302.686 761.31 300 758 300Z"
          fill="#006d32"
          fill-opacity="0.3"></path>
        <path
          d="M406 60H366C362.69 60 360 62.686 360 66V106C360 109.314 362.69 112 366 112H406C409.31 112 412 109.314 412 106V66C412 62.686 409.31 60 406 60Z"
          fill="#006d32"></path>
        <path
          d="M1486 360H1446C1442.69 360 1440 362.686 1440 366V406C1440 409.314 1442.69 412 1446 412H1486C1489.31 412 1492 409.314 1492 406V366C1492 362.686 1489.31 360 1486 360Z"
          fill="#006d32"></path>
        <path
          d="M1486 420H1446C1442.69 420 1440 422.686 1440 426V466C1440 469.314 1442.69 472 1446 472H1486C1489.31 472 1492 469.314 1492 466V426C1492 422.686 1489.31 420 1486 420Z"
          fill="#006d32"></path>
        <path
          d="M1486 480H1446C1442.69 480 1440 482.686 1440 486V526C1440 529.314 1442.69 532 1446 532H1486C1489.31 532 1492 529.314 1492 526V486C1492 482.686 1489.31 480 1486 480Z"
          fill="#006d32"
          fill-opacity="0.5"></path>
        <path
          d="M1486 60H1446C1442.69 60 1440 62.6863 1440 66V106C1440 109.314 1442.69 112 1446 112H1486C1489.31 112 1492 109.314 1492 106V66C1492 62.6863 1489.31 60 1486 60Z"
          fill="#006d32"
          fill-opacity="0.5"></path>
        <path
          d="M1486 120H1446C1442.69 120 1440 122.686 1440 126V166C1440 169.314 1442.69 172 1446 172H1486C1489.31 172 1492 169.314 1492 166V126C1492 122.686 1489.31 120 1486 120Z"
          fill="#006d32"
          fill-opacity="0.4"></path>
        <path
          d="M1486 180H1446C1442.69 180 1440 182.686 1440 186V226C1440 229.314 1442.69 232 1446 232H1486C1489.31 232 1492 229.314 1492 226V186C1492 182.686 1489.31 180 1486 180Z"
          fill="#006d32"></path>
        <path
          d="M1546 420H1506C1502.69 420 1500 422.686 1500 426V466C1500 469.314 1502.69 472 1506 472H1546C1549.31 472 1552 469.314 1552 466V426C1552 422.686 1549.31 420 1546 420Z"
          fill="#006d32"
          fill-opacity="0.3"></path>
        <path
          d="M820 178H780C776.69 178 774 180.686 774 184V224C774 227.314 776.69 230 780 230H820C823.31 230 826 227.314 826 224V184C826 180.686 823.31 178 820 178Z"
          fill="#006d32"
          fill-opacity="0.5"></path>
        <path
          d="M474 60H434C430.69 60 428 62.686 428 66V106C428 109.314 430.69 112 434 112H474C477.31 112 480 109.314 480 106V66C480 62.686 477.31 60 474 60Z"
          fill="#006d32"
          fill-opacity="0.5"></path>
        <path
          d="M474 180H434C430.69 180 428 182.686 428 186V226C428 229.314 430.69 232 434 232H474C477.31 232 480 229.314 480 226V186C480 182.686 477.31 180 474 180Z"
          fill="#006d32"></path>
        <path
          d="M474 0H434C430.69 0 428 2.686 428 6V46C428 49.314 430.69 52 434 52H474C477.31 52 480 49.314 480 46V6C480 2.686 477.31 0 474 0Z"
          fill="#006d32"
          fill-opacity="0.7"></path>
        <path
          d="M1546 540H1506C1502.69 540 1500 542.686 1500 546V586C1500 589.314 1502.69 592 1506 592H1546C1549.31 592 1552 589.314 1552 586V546C1552 542.686 1549.31 540 1546 540Z"
          fill="#006d32"
          fill-opacity="0.2"></path>
        <path
          d="M1546 120H1506C1502.69 120 1500 122.686 1500 126V166C1500 169.314 1502.69 172 1506 172H1546C1549.31 172 1552 169.314 1552 166V126C1552 122.686 1549.31 120 1546 120Z"
          fill="#006d32"></path>
        <path
          d="M1546 0H1506C1502.69 0 1500 2.68629 1500 6V46C1500 49.3137 1502.69 52 1506 52H1546C1549.31 52 1552 49.3137 1552 46V6C1552 2.68629 1549.31 0 1546 0Z"
          fill="#006d32"></path>
        <path
          d="M1546 60H1506C1502.69 60 1500 62.6863 1500 66V106C1500 109.314 1502.69 112 1506 112H1546C1549.31 112 1552 109.314 1552 106V66C1552 62.6863 1549.31 60 1546 60Z"
          fill="#006d32"
          fill-opacity="0.5"></path>
        <path
          d="M1546 300H1506C1502.69 300 1500 302.686 1500 306V346C1500 349.314 1502.69 352 1506 352H1546C1549.31 352 1552 349.314 1552 346V306C1552 302.686 1549.31 300 1546 300Z"
          fill="#006d32"></path>
        <path
          d="M226 480H186C182.686 480 180 482.686 180 486V526C180 529.314 182.686 532 186 532H226C229.314 532 232 529.314 232 526V486C232 482.686 229.314 480 226 480Z"
          fill="#006d32"
          fill-opacity="0.5"></path>
        <path
          d="M226 600H186C182.686 600 180 602.686 180 606V646C180 649.314 182.686 652 186 652H226C229.314 652 232 649.314 232 646V606C232 602.686 229.314 600 226 600Z"
          fill="#006d32"
          fill-opacity="0.5"></path>
        <path
          d="M226 240H186C182.686 240 180 242.686 180 246V286C180 289.314 182.686 292 186 292H226C229.314 292 232 289.314 232 286V246C232 242.686 229.314 240 226 240Z"
          fill="#006d32"
          fill-opacity="0.5"></path>
        <path
          d="M226 300H186C182.686 300 180 302.686 180 306V346C180 349.314 182.686 352 186 352H226C229.314 352 232 349.314 232 346V306C232 302.686 229.314 300 226 300Z"
          fill="#006d32"
          fill-opacity="0.5"></path>
        <path
          d="M226 180H186C182.686 180 180 182.686 180 186V226C180 229.314 182.686 232 186 232H226C229.314 232 232 229.314 232 226V186C232 182.686 229.314 180 226 180Z"
          fill="#006d32"></path>
        <path
          d="M226 120H186C182.686 120 180 122.686 180 126V166C180 169.314 182.686 172 186 172H226C229.314 172 232 169.314 232 166V126C232 122.686 229.314 120 226 120Z"
          fill="#006d32"
          fill-opacity="0.2"></path>
        <path
          d="M226 60H186C182.686 60 180 62.6863 180 66V106C180 109.314 182.686 112 186 112H226C229.314 112 232 109.314 232 106V66C232 62.6863 229.314 60 226 60Z"
          fill="#006d32"></path>
        <path
          d="M226 0H186C182.686 0 180 2.68629 180 6V46C180 49.3137 182.686 52 186 52H226C229.314 52 232 49.3137 232 46V6C232 2.68629 229.314 0 226 0Z"
          fill="#006d32"
          fill-opacity="0.3"></path>
        <path
          d="M1272 60H1232C1228.69 60 1226 62.686 1226 66V106C1226 109.314 1228.69 112 1232 112H1272C1275.31 112 1278 109.314 1278 106V66C1278 62.686 1275.31 60 1272 60Z"
          fill="#006d32"
          fill-opacity="0.5"></path>
        <path
          d="M1606 240H1566C1562.69 240 1560 242.686 1560 246V286C1560 289.314 1562.69 292 1566 292H1606C1609.31 292 1612 289.314 1612 286V246C1612 242.686 1609.31 240 1606 240Z"
          fill="#006d32"></path>
        <path
          d="M1606 120H1566C1562.69 120 1560 122.686 1560 126V166C1560 169.314 1562.69 172 1566 172H1606C1609.31 172 1612 169.314 1612 166V126C1612 122.686 1609.31 120 1606 120Z"
          fill="#006d32"></path>
        <path
          d="M1606 60H1566C1562.69 60 1560 62.6863 1560 66V106C1560 109.314 1562.69 112 1566 112H1606C1609.31 112 1612 109.314 1612 106V66C1612 62.6863 1609.31 60 1606 60Z"
          fill="#006d32"
          fill-opacity="0.5"></path>
        <path
          d="M1606 180H1566C1562.69 180 1560 182.686 1560 186V226C1560 229.314 1562.69 232 1566 232H1606C1609.31 232 1612 229.314 1612 226V186C1612 182.686 1609.31 180 1606 180Z"
          fill="#006d32"
          fill-opacity="0.5"></path>
        <path
          d="M1606 300H1566C1562.69 300 1560 302.686 1560 306V346C1560 349.314 1562.69 352 1566 352H1606C1609.31 352 1612 349.314 1612 346V306C1612 302.686 1609.31 300 1606 300Z"
          fill="#006d32"></path>
        <path
          d="M1606 480H1566C1562.69 480 1560 482.686 1560 486V526C1560 529.314 1562.69 532 1566 532H1606C1609.31 532 1612 529.314 1612 526V486C1612 482.686 1609.31 480 1606 480Z"
          fill="#006d32"></path>
        <path
          d="M1606 540H1566C1562.69 540 1560 542.686 1560 546V586C1560 589.314 1562.69 592 1566 592H1606C1609.31 592 1612 589.314 1612 586V546C1612 542.686 1609.31 540 1606 540Z"
          fill="#006d32"></path>
        <path
          d="M534 0H494C490.69 0 488 2.686 488 6V46C488 49.314 490.69 52 494 52H534C537.31 52 540 49.314 540 46V6C540 2.686 537.31 0 534 0Z"
          fill="#006d32"
          fill-opacity="0.5"></path>
        <path
          d="M1606 660H1566C1562.69 660 1560 662.686 1560 666V706C1560 709.314 1562.69 712 1566 712H1606C1609.31 712 1612 709.314 1612 706V666C1612 662.686 1609.31 660 1606 660Z"
          fill="#006d32"></path>
        <path
          d="M534 120H494C490.69 120 488 122.686 488 126V166C488 169.314 490.69 172 494 172H534C537.31 172 540 169.314 540 166V126C540 122.686 537.31 120 534 120Z"
          fill="#006d32"
          fill-opacity="0.3"></path>
        <path
          d="M166 300H126C122.686 300 120 302.686 120 306V346C120 349.314 122.686 352 126 352H166C169.314 352 172 349.314 172 346V306C172 302.686 169.314 300 166 300Z"
          fill="#006d32"
          fill-opacity="0.5"></path>
        <path
          d="M166 420H126C122.686 420 120 422.686 120 426V466C120 469.314 122.686 472 126 472H166C169.314 472 172 469.314 172 466V426C172 422.686 169.314 420 166 420Z"
          fill="#006d32"
          fill-opacity="0.5"></path>
        <path
          d="M166 360H126C122.686 360 120 362.686 120 366V406C120 409.314 122.686 412 126 412H166C169.314 412 172 409.314 172 406V366C172 362.686 169.314 360 166 360Z"
          fill="#006d32"
          fill-opacity="0.8"></path>
        <path
          d="M166 180H126C122.686 180 120 182.686 120 186V226C120 229.314 122.686 232 126 232H166C169.314 232 172 229.314 172 226V186C172 182.686 169.314 180 166 180Z"
          fill="#006d32"></path>
        <path
          d="M166 120H126C122.686 120 120 122.686 120 126V166C120 169.314 122.686 172 126 172H166C169.314 172 172 169.314 172 166V126C172 122.686 169.314 120 166 120Z"
          fill="#006d32"
          fill-opacity="0.2"></path>
        <path
          d="M166 60H126C122.686 60 120 62.6863 120 66V106C120 109.314 122.686 112 126 112H166C169.314 112 172 109.314 172 106V66C172 62.6863 169.314 60 166 60Z"
          fill="#006d32"></path>
        <path
          d="M1666 0H1626C1622.69 0 1620 2.68629 1620 6V46C1620 49.3137 1622.69 52 1626 52H1666C1669.31 52 1672 49.3137 1672 46V6C1672 2.68629 1669.31 0 1666 0Z"
          fill="#006d32"
          fill-opacity="0.5"></path>
        <path
          d="M554 52H594C597.31 52 600 49.314 600 46V6C600 2.686 597.31 0 594 0H554C550.69 0 548 2.686 548 6V46C548 49.314 550.69 52 554 52Z"
          fill="#006d32"></path>
        <path
          d="M666 156H706C709.31 156 712 153.314 712 150V110C712 106.686 709.31 104 706 104H666C662.69 104 660 106.686 660 110V150C660 153.314 662.69 156 666 156Z"
          fill="#006d32"></path>
        <path
          d="M964 232H1004C1007.31 232 1010 229.314 1010 226V186C1010 182.686 1007.31 180 1004 180H964C960.69 180 958 182.686 958 186V226C958 229.314 960.69 232 964 232Z"
          fill="#006d32"
          fill-opacity="0.5"></path>
        <path
          d="M554 112H594C597.31 112 600 109.314 600 106V66C600 62.686 597.31 60 594 60H554C550.69 60 548 62.686 548 66V106C548 109.314 550.69 112 554 112Z"
          fill="#006d32"
          fill-opacity="0.5"></path>
        <path
          d="M1626 592H1666C1669.31 592 1672 589.314 1672 586V546C1672 542.686 1669.31 540 1666 540H1626C1622.69 540 1620 542.686 1620 546V586C1620 589.314 1622.69 592 1626 592Z"
          fill="#006d32"></path>
        <path
          d="M1626 412H1666C1669.31 412 1672 409.314 1672 406V366C1672 362.686 1669.31 360 1666 360H1626C1622.69 360 1620 362.686 1620 366V406C1620 409.314 1622.69 412 1626 412Z"
          fill="#006d32"></path>
        <path
          d="M1626 352H1666C1669.31 352 1672 349.314 1672 346V306C1672 302.686 1669.31 300 1666 300H1626C1622.69 300 1620 302.686 1620 306V346C1620 349.314 1622.69 352 1626 352Z"
          fill="#006d32"></path>
        <path
          d="M1626 292H1666C1669.31 292 1672 289.314 1672 286V246C1672 242.686 1669.31 240 1666 240H1626C1622.69 240 1620 242.686 1620 246V286C1620 289.314 1622.69 292 1626 292Z"
          fill="#006d32"
          fill-opacity="0.5"></path>
        <path
          d="M1626 232H1666C1669.31 232 1672 229.314 1672 226V186C1672 182.686 1669.31 180 1666 180H1626C1622.69 180 1620 182.686 1620 186V226C1620 229.314 1622.69 232 1626 232Z"
          fill="#006d32"></path>
        <path
          d="M1666 120H1626C1622.69 120 1620 122.686 1620 126V166C1620 169.314 1622.69 172 1626 172H1666C1669.31 172 1672 169.314 1672 166V126C1672 122.686 1669.31 120 1666 120Z"
          fill="#006d32"
          fill-opacity="0.3"></path>
        <path
          d="M66 352H106C109.314 352 112 349.314 112 346V306C112 302.686 109.314 300 106 300H66C62.686 300 60 302.686 60 306V346C60 349.314 62.686 352 66 352Z"
          fill="#006d32"
          fill-opacity="0.5"></path>
        <path
          d="M66 112H106C109.314 112 112 109.314 112 106V66C112 62.6863 109.314 60 106 60H66C62.686 60 60 62.6863 60 66V106C60 109.314 62.686 112 66 112Z"
          fill="#006d32"
          fill-opacity="0.3"></path>
        <path
          d="M66 52H106C109.314 52 112 49.3137 112 46V6C112 2.68629 109.314 0 106 0H66C62.686 0 60 2.6863 60 6V46C60 49.3137 62.686 52 66 52Z"
          fill="#006d32"></path>
        <path
          d="M66 232H106C109.314 232 112 229.314 112 226V186C112 182.686 109.314 180 106 180H66C62.686 180 60 182.686 60 186V226C60 229.314 62.686 232 66 232Z"
          fill="#006d32"
          fill-opacity="0.5"></path>
        <path
          d="M66 172H106C109.314 172 112 169.314 112 166V126C112 122.686 109.314 120 106 120H66C62.686 120 60 122.686 60 126V166C60 169.314 62.686 172 66 172Z"
          fill="#006d32"></path>
        <path
          d="M66 532H106C109.314 532 112 529.314 112 526V486C112 482.686 109.314 480 106 480H66C62.686 480 60 482.686 60 486V526C60 529.314 62.686 532 66 532Z"
          fill="#006d32"
          fill-opacity="0.5"></path>
        <path
          d="M66 472H106C109.314 472 112 469.314 112 466V426C112 422.686 109.314 420 106 420H66C62.686 420 60 422.686 60 426V466C60 469.314 62.686 472 66 472Z"
          fill="#006d32"
          fill-opacity="0.5"></path>
        <path
          d="M66 592H106C109.314 592 112 589.314 112 586V546C112 542.686 109.314 540 106 540H66C62.686 540 60 542.686 60 546V586C60 589.314 62.686 592 66 592Z"
          fill="#006d32"></path>
        <path
          d="M1686 532H1726C1729.31 532 1732 529.314 1732 526V486C1732 482.686 1729.31 480 1726 480H1686C1682.69 480 1680 482.686 1680 486V526C1680 529.314 1682.69 532 1686 532Z"
          fill="#006d32"
          fill-opacity="0.3"></path>
        <path
          d="M1726 120H1686C1682.69 120 1680 122.686 1680 126V166C1680 169.314 1682.69 172 1686 172H1726C1729.31 172 1732 169.314 1732 166V126C1732 122.686 1729.31 120 1726 120Z"
          fill="#006d32"
          fill-opacity="0.5"></path>
        <path
          d="M1686 232H1726C1729.31 232 1732 229.314 1732 226V186C1732 182.686 1729.31 180 1726 180H1686C1682.69 180 1680 182.686 1680 186V226C1680 229.314 1682.69 232 1686 232Z"
          fill="#006d32"
          fill-opacity="0.5"></path>
        <path
          d="M1726 60H1686C1682.69 60 1680 62.6863 1680 66V106C1680 109.314 1682.69 112 1686 112H1726C1729.31 112 1732 109.314 1732 106V66C1732 62.6863 1729.31 60 1726 60Z"
          fill="#006d32"></path>
        <path
          d="M1686 292H1726C1729.31 292 1732 289.314 1732 286V246C1732 242.686 1729.31 240 1726 240H1686C1682.69 240 1680 242.686 1680 246V286C1680 289.314 1682.69 292 1686 292Z"
          fill="#006d32"
          fill-opacity="0.7"></path>
        <path
          d="M1686 352H1726C1729.31 352 1732 349.314 1732 346V306C1732 302.686 1729.31 300 1726 300H1686C1682.69 300 1680 302.686 1680 306V346C1680 349.314 1682.69 352 1686 352Z"
          fill="#006d32"
          fill-opacity="0.2"></path>
        <path
          d="M614 232H654C657.31 232 660 229.314 660 226V186C660 182.686 657.31 180 654 180H614C610.69 180 608 182.686 608 186V226C608 229.314 610.69 232 614 232Z"
          fill="#006d32"></path>
        <path
          d="M1146 172H1186C1189.31 172 1192 169.314 1192 166V126C1192 122.686 1189.31 120 1186 120H1146C1142.69 120 1140 122.686 1140 126V166C1140 169.314 1142.69 172 1146 172Z"
          fill="#006d32"></path>
        <path
          d="M554 232H594C597.31 232 600 229.314 600 226V186C600 182.686 597.31 180 594 180H554C550.69 180 548 182.686 548 186V226C548 229.314 550.69 232 554 232Z"
          fill="#006d32"
          fill-opacity="0.5"></path>
        <path
          d="M1686 652H1726C1729.31 652 1732 649.314 1732 646V606C1732 602.686 1729.31 600 1726 600H1686C1682.69 600 1680 602.686 1680 606V646C1680 649.314 1682.69 652 1686 652Z"
          fill="#006d32"></path>
        <path
          d="M6 592H46C49.314 592 52 589.314 52 586V546C52 542.686 49.314 540 46 540H6C2.686 540 0 542.686 0 546V586C0 589.314 2.686 592 6 592Z"
          fill="#006d32"></path>
        <path
          d="M6 352H46C49.314 352 52 349.314 52 346V306C52 302.686 49.314 300 46 300H6C2.686 300 0 302.686 0 306V346C0 349.314 2.686 352 6 352Z"
          fill="#006d32"
          fill-opacity="0.5"></path>
        <path
          d="M46 180H6C2.686 180 0 182.686 0 186V226C0 229.314 2.686 232 6 232H46C49.314 232 52 229.314 52 226V186C52 182.686 49.314 180 46 180Z"
          fill="#006d32"
          fill-opacity="0.7"></path>
        <path
          d="M1746 232H1786C1789.31 232 1792 229.314 1792 226V186C1792 182.686 1789.31 180 1786 180H1746C1742.69 180 1740 182.686 1740 186V226C1740 229.314 1742.69 232 1746 232Z"
          fill="#006d32"></path>
        <path
          d="M1786 120H1746C1742.69 120 1740 122.686 1740 126V166C1740 169.314 1742.69 172 1746 172H1786C1789.31 172 1792 169.314 1792 166V126C1792 122.686 1789.31 120 1786 120Z"
          fill="#006d32"
          fill-opacity="0.3"></path>
        <path
          d="M1746 292H1786C1789.31 292 1792 289.314 1792 286V246C1792 242.686 1789.31 240 1786 240H1746C1742.69 240 1740 242.686 1740 246V286C1740 289.314 1742.69 292 1746 292Z"
          fill="#006d32"></path>
        <path
          d="M1746 532H1786C1789.31 532 1792 529.314 1792 526V486C1792 482.686 1789.31 480 1786 480H1746C1742.69 480 1740 482.686 1740 486V526C1740 529.314 1742.69 532 1746 532Z"
          fill="#006d32"></path>
        <path
          d="M1746 472H1786C1789.31 472 1792 469.314 1792 466V426C1792 422.686 1789.31 420 1786 420H1746C1742.69 420 1740 422.686 1740 426V466C1740 469.314 1742.69 472 1746 472Z"
          fill="#006d32"></path>
        <path
          d="M1746 412H1786C1789.31 412 1792 409.314 1792 406V366C1792 362.686 1789.31 360 1786 360H1746C1742.69 360 1740 362.686 1740 366V406C1740 409.314 1742.69 412 1746 412Z"
          fill="#006d32"
          fill-opacity="0.5"></path>
        <path
          d="M966 104H1006C1009.31 104 1012 101.314 1012 98V58C1012 54.686 1009.31 52 1006 52H966C962.69 52 960 54.686 960 58V98C960 101.314 962.69 104 966 104Z"
          fill="#006d32"
          fill-opacity="0.5"></path>
        <path
          d="M1086 112H1126C1129.31 112 1132 109.314 1132 106V66C1132 62.686 1129.31 60 1126 60H1086C1082.69 60 1080 62.686 1080 66V106C1080 109.314 1082.69 112 1086 112Z"
          fill="#006d32"
          fill-opacity="0.4"></path>
        <path
          d="M1746 712H1786C1789.31 712 1792 709.314 1792 706V666C1792 662.686 1789.31 660 1786 660H1746C1742.69 660 1740 662.686 1740 666V706C1740 709.314 1742.69 712 1746 712Z"
          fill="#006d32"></path>
      </svg>
    </div>
    <div
      class="relative -mt-[4.5rem] lg:mt-0 lg:absolute left-0 right-0 bottom-0 top-0 md:top-auto max-w-xl mx-auto grid place-content-center text-center px-5"
    >
      <h1
        class="text-shadow-title bg-title-gradient md:block hidden bg-clip-text text-transparent font-medium relative"
      >
        Develop, Debug, <br /> Deploy, Repeat.
      </h1>

      <h2
        class="text-shadow-title bg-title-gradient md:hidden block bg-clip-text text-transparent font-medium relative"
      >
        Develop, Debug, <br /> Deploy, Repeat.
      </h2>
    </div>
  </div>

  <div
    class="grid grid-cols-1 md:w-10/12 max-w-[1300px] 2xl:w-10/12 mx-auto gap-y-10 gap-x-6 xl:gap-y-16 xl:gap-x-10 px-3 md:px-5 lg:grid-cols-2 blade-top-padding-lg blade-top-margin-sm"
  >
    {
      projects.map((elem: any) => {
        return <Project data={elem} />;
      })
    }
  </div>
</section>

<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/dist/ScrollTrigger";
  gsap.registerPlugin(ScrollTrigger);
  gsap.fromTo(
    ".contribution-graph path",
    { opacity: 0 },
    {
      opacity: 1,
      stagger: {
        from: "end",
        amount: 1,
      },
      duration: 2,
      scrollTrigger: {
        start: "top 70%",
        trigger: ".contribution-graph",
        toggleActions: "play reverse play reverse",
      },
    }
  );
</script>
