---

---

<section class="border-b border-neutral-800"  id="work">
  <div
    class="w-container text-white font-light blade-top-padding blade-bottom-padding-lg mb-4"
  >
    <h3 class="font-semibold">My work experience</h3>
    <h6 class="text-white text-opacity-80 pt-7 max-w-xl leading-relaxed">
      Where I’ve Been, What I’ve Shipped
    </h6>
    <div class="mt-20  space-y-20 md:space-y-24">
      <div class="flex gap-6 flex-col md:flex-row">
        <div class="basis-32  grow-0 shrink-0 grid pt-2 place-items-start">
          <div class="h-[80px] ">
            <img
            src="/experience/redrob.png"
            class="w-auto object-cover rounded-lg h-full"
            alt=""
            />
          </div>
        </div>
        <div class="flex-1 flex flex-col gap-1.5 pr-3">
          <span class="text-2xl font-medium text-white"
            >Software Engineer 1 <em class="text-white/80">(McKinley Rice)</em>
          </span>
          <span class="text-white font-regular text-lg"
            >Witnessing DMs to Jira: Seed to Series A journey</span
          >
          <span>Jan 2024 - Present</span>
          <span
          class="text-lg leading-relaxed block text-white/90 mt-4 max-w-2xl"
        >
          I worked on core frontend development for a <strong class="font-medium">South Korean tech company</strong> and contributed to 
          <strong class="font-medium">Redrob 2.0, a lead generation B2B SaaS platform</strong>. I managed a small team and built key features including 
          <strong class="font-medium">natural language People Search</strong> and real-time profile enrichment under tight deadlines. The product saw 
          over <strong class="font-medium">5X revenue growth</strong> post-launch.
        </span>
        
          <span class="mt-4">Check it out  <a
            href="https://app.redrob.io/"
            target="_blank"
            class="border-b text-white font-medium hover:border-pink2 inline-flex gap-1 leading-none items-center hover:text-pink2 transition"
            >here
    
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="size-3"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="m4.5 19.5 15-15m0 0H8.25m11.25 0v11.25"></path>
            </svg>
          </a></span>
        </div>
      </div>

      <div class="flex gap-6 flex-col md:flex-row">
        <div class="basis-32 grow-0 shrink-0 grid pt-2 place-items-start">

          <div class="h-[80px] w-full border border-white/10 rounded-lg">
            <img
            src="/experience/blacksof.png"
            class="w-full object-cover object-bottom rounded-lg h-full"
            alt=""
            />
          </div>
        
        </div>
        <div class="flex-1 flex flex-col gap-2 pr-3">
          <span class="text-2xl font-medium text-white"
            >Frontend Engineer <em class="text-white/80">(Blacksof)</em>
          </span>
          <span class="text-white font-regular text-lg"
            >Dropped into chaos — No hand-holding. Just problems, code, and
            output.</span
          >
          <span>Apr 2022 - Jan 2024</span>
          <span
            class="text-lg leading-relaxed block text-white/90 mt-3 max-w-2xl"
            >Led a <strong class="font-medium">3-member team</strong> and delivered <strong
              class="font-medium">13+ projects</strong
            > across <strong class="font-medium">8+ domains</strong>, building custom <strong
              class="font-medium">design systems</strong
            >, <strong class="font-medium">web apps</strong>, <strong class="font-medium">CMS platforms</strong>, and <strong
              class="font-medium">admin dashboards</strong
            >. Focused on <strong class="font-medium">accessibility</strong>, <strong class="font-medium">SEO</strong>, <strong
              class="font-medium">performance</strong
            >, and <strong class="font-medium">cross-browser compatibility</strong>, while managing <strong
              class="font-medium">planning</strong
            >, <strong class="font-medium">client communication</strong>, <strong
              class="font-medium">CI/CD pipelines</strong
            > with AWS & GitHub Actions, and end-to-end delivery.
          </span>
        </div>
      </div>
    </div>
  </div>
</section>
