@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "regular";
  src: url("/font/NeueHaasUnica-Light.woff2");
}
@font-face {
  font-family: "light";
  src: url("/font/NeueHaasUnica-Regular.woff2");
}

@font-face {
  font-family: "thin";
  src: url("/font/NeueHaasUnica-Thin.woff2");
}


@font-face {
  font-family: "light";
  src: url("/font/NeueHaasUnica-Light.woff2");
}


@font-face {
  font-family: "medium";
  src: url("/font/NeueHaasUnica-Medium.woff2");
}
@font-face {
  font-family: "bold";
  src: url("/font/NeueHaasUnica-Bold.woff2");
}

html,
body {
  background-color: #05060F;
  scroll-behavior: smooth;
}


@layer components {
  .d {
    @apply border-2 border-red-600 border-solid;
  }
  .w-container-sm {
    @apply max-w-screen-2xl mx-auto sm:w-11/12 md:w-10/12 px-3;
  }

  .w-container {
    @apply max-w-screen-2xl mx-auto md:w-11/12 lg:w-10/12 px-3;
  }

  .w-container-lg {
    @apply md:w-11/12 px-3 max-w-screen-2xl mx-auto;
  }

  .w-container-xl {
    @apply md:w-11/12 px-3 xl:px-16 2xl:px-20 max-w-[1920px] mx-auto;
  }

  .w-container-2xl {
    @apply md:w-11/12 px-3 xl:px-16 2xl:px-12 max-w-[1920px] mx-auto;
  }
  .blade-top-padding {
    @apply pt-16 md:pt-24 lg:pt-32 xl:pt-44 2xl:pt-60;
  }
  .blade-top-padding {
    @apply pt-8 md:pt-10 lg:pt-12 xl:pt-16 2xl:pt-20;
  }

  .blade-top-padding-sm {
    @apply pt-4 md:pt-6 lg:pt-8 xl:pt-10 2xl:pt-14;
  }

  .blade-top-padding-lg {
    @apply pt-10 md:pt-12 lg:pt-16 xl:pt-20 2xl:pt-24;
  }

  .blade-top-padding-xl {
    @apply pt-16 xl:pt-20 2xl:pt-32;
  }

  .blade-bottom-padding {
    @apply pb-8 md:pb-10 lg:pb-12 xl:pb-16 2xl:pb-20;
  }

  .blade-bottom-padding-sm {
    @apply pb-4 md:pb-6 lg:pb-8 xl:pb-10 2xl:pb-14;
  }

  .blade-bottom-padding-lg {
    @apply pb-10 md:pb-12 lg:pb-16 xl:pb-20 2xl:pb-24;
  }

  .blade-bottom-padding-xl {
    @apply pb-16 xl:pb-20 2xl:pb-32;
  }

  .blade-top-margin {
    @apply mt-8 md:mt-10 lg:mt-12 xl:mt-16 2xl:mt-20;
  }

  .blade-top-margin-sm {
    @apply mt-4 md:mt-6 lg:mt-8 xl:mt-10 2xl:mt-14;
  }

  .blade-top-margin-lg {
    @apply mt-10 md:mt-12 lg:mt-16 xl:mt-20 2xl:mt-24;
  }

  .blade-bottom-margin {
    @apply mb-8 md:mb-10 lg:mb-12 xl:mb-16 2xl:mb-20;
  }

  .blade-bottom-margin-sm {
    @apply mb-4 md:mb-6 lg:mb-8 xl:mb-10 2xl:mb-14;
  }

  .blade-bottom-margin-lg {
    @apply mb-10 md:mb-12 lg:mb-16 xl:mb-20 2xl:mb-24;
  }
}

@layer base {
  input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  a,
  button {
    -webkit-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: transparent;
  }

  h1 {
    @apply text-4xl md:text-5xl xl:text-6xl 2xl:text-7xl leading-tight md:leading-tight xl:leading-tight 2xl:leading-tight;
  }
  h2 {
    @apply text-3xl md:text-4xl xl:text-5xl 2xl:text-6xl leading-tight md:leading-tight xl:leading-tight 2xl:leading-tight;
  }
  h3 {
    @apply text-2xl md:text-3xl xl:text-4xl 2xl:text-5xl leading-tight md:leading-tight xl:leading-tight 2xl:leading-tight;
  }
  h4 {
    @apply text-xl md:text-2xl xl:text-3xl 2xl:text-4xl leading-snug md:leading-snug xl:leading-snug 2xl:leading-snug;
  }
  h5 {
    @apply text-lg md:text-xl xl:text-2xl 2xl:text-3xl leading-normal md:leading-normal xl:leading-normal 2xl:leading-normal;
  }
  h6 {
    @apply text-base md:text-lg xl:text-xl 2xl:text-2xl leading-normal md:leading-normal xl:leading-normal 2xl:leading-normal;
  }

  p {
    @apply
     text-sm md:text-base leading-snug md:leading-snug;
  }
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background-color: #d8d8d8;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #e6e6e6;
}

::-webkit-scrollbar-track {
  background-color: black;
}

::-webkit-scrollbar-track:hover {
  background-color: black;
}

::selection {
  background-color: white !important;
  -webkit-text-fill-color: black !important;
  color: black !important;
}


.text-shadow-title {
  text-shadow: 0 2px 10px #efadff6c;
}