---
---

<section
  id="about"
  class="grid text-trigger lg:grid-cols-2 grid-cols-1 gap-1 body-container blade-x-padding blade-top-padding"
>
  <div class="xl:w-10/12 md:w-11/12 mx-auto">
    <h2 class="font-satoshi-semibold text-dark">
      What's in my <br class="md:block hidden" /> backpack?
    </h2>
  </div>
  <div class="pr-3 md:pr-6 lg:pr-10">
    <h5 class="text-dark font-satoshi-bold pb-2">
      Writing code for both machines and humans.
    </h5>
    <p class="text-dark text-opacity-80 font-satoshi leading-normal max-w-xl">
      Developing experience-centric products with attention to details and
      performance as focal point. Utlimately, I am passionate about delivering
      value with design.
    </p>
    <p
      class="text-dark text-opacity-80 font-satoshi leading-normal mt-6 max-w-xl"
    >
      I've spent a lot of time with Javascript and front-end tech and at least
      enough with backend languages to realise that they can be quite
      intimidating.
    </p>
  </div>
</section>
<section class="blade-bottom-padding-lg blade-top-padding body-container">
  <section
    class="grid lg:grid-cols-2 grid-cols-1 blade-top-padding gap-1 justify-around"
  >
    <div class="h-[32rem] pb-10">
      <img
        src="/img/check.webp"
        class="h-full w-full object-center object-contain"
        alt="something dummy"
      />
    </div>
    <div class="flex flex-col gap-10">
      <div>
        <div class="flex flex-nowrap items-center gap-5">
          <svg
            width="173"
            height="135"
            viewBox="0 0 173 135"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            class="w-14 h-14"
          >
            <rect
              x="2.86523"
              y="105.945"
              width="167.496"
              height="27.3755"
              rx="8.81465"
              stroke="#3d3d3d"
              stroke-width="3"></rect>
            <rect
              x="2.86523"
              y="66.9023"
              width="167.496"
              height="27.3755"
              rx="8.81465"
              stroke="#3d3d3d"
              stroke-width="3"></rect>
            <rect
              x="2.86523"
              y="2.4375"
              width="167.496"
              height="52.6168"
              rx="8.81465"
              stroke="#3d3d3d"
              stroke-width="3"></rect>
            <path
              d="M88.0207 26.418H24.3601C22.6257 26.418 21.2207 27.5732 21.2207 28.9995C21.2207 30.4256 22.6257 31.5808 24.3601 31.5808H88.0207C89.7551 31.5808 91.1601 30.4256 91.1601 28.9995C91.1601 27.5732 89.7551 26.418 88.0207 26.418Z"
              fill="#3d3d3d"></path>
            <path
              d="M141.57 37.3993C146.209 37.3993 149.97 33.6385 149.97 28.9994C149.97 24.3602 146.209 20.5995 141.57 20.5995C136.931 20.5995 133.17 24.3602 133.17 28.9994C133.17 33.6385 136.931 37.3993 141.57 37.3993Z"
              fill="#4353ff"
              stroke="#3d3d3d"
              stroke-width="1.10183"
              class="animate-pulse"></path>
          </svg>
          <h4 class="font-satoshi-semibold text-dark pb-1">
            Freshness over Conventions
          </h4>
        </div>
        <p
          class="text-dark text-opacity-80 font-satoshi leading-normal md:w-11/12 max-w-lg pt-2"
        >
          Imagine the title above in red and bold. I believe a good user
          interface is first milestone of an useable product.
        </p>
      </div>
      <div>
        <div class="flex flex-nowrap items-center gap-5">
          <svg
            width="203"
            height="138"
            viewBox="0 0 203 138"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            class="w-14 h-14"
          >
            <path
              d="M101.614 33.9453C96.5119 33.9453 91.5244 35.4583 87.2822 38.2928C83.0399 41.1274 79.7335 45.1562 77.781 49.87C75.8286 54.5837 75.3177 59.7705 76.3131 64.7745C77.3084 69.7786 79.7653 74.3751 83.373 77.9828C86.9807 81.5905 91.5772 84.0474 96.5813 85.0427C101.585 86.0381 106.772 85.5272 111.486 83.5748C116.2 81.6223 120.228 78.3159 123.063 74.0737C125.898 69.8314 127.41 64.8439 127.41 59.7419C127.41 52.9002 124.693 46.3387 119.855 41.5009C115.017 36.6632 108.456 33.9453 101.614 33.9453ZM121.735 56.9042H116.008C115.818 51.8187 114.571 46.8285 112.345 42.2518C114.929 43.8734 117.114 46.0556 118.74 48.6367C120.365 51.2178 121.389 54.1316 121.735 57.1622V56.9042ZM99.0343 40.0849V57.1622H92.3272C92.2375 54.0493 92.7863 50.951 93.9398 48.0583C95.0933 45.1656 96.8271 42.5398 99.0343 40.3429V40.0849ZM99.0343 62.0636V78.8829C96.8271 76.6859 95.0933 74.0602 93.9398 71.1675C92.7863 68.2748 92.2375 65.1765 92.3272 62.0636H99.0343ZM104.194 78.8829V62.3215H110.901C110.99 65.4344 110.442 68.5327 109.288 71.4254C108.135 74.3181 106.401 76.9439 104.194 79.1409V78.8829ZM104.194 56.9042V40.3429C106.401 42.5398 108.135 45.1656 109.288 48.0583C110.442 50.951 110.99 54.0493 110.901 57.1622L104.194 56.9042ZM90.831 42.2518C88.6054 46.8285 87.3578 51.8187 87.1679 56.9042H81.4926C81.9056 53.9692 82.9555 51.16 84.5686 48.6734C86.1818 46.1869 88.3191 44.0832 90.831 42.5098V42.2518ZM81.4926 62.3215H87.2195C87.4094 67.4071 88.657 72.3973 90.8826 76.974C88.3304 75.379 86.1641 73.2373 84.5403 70.7034C82.9165 68.1695 81.8755 65.3066 81.4926 62.3215V62.3215ZM112.448 76.974C114.674 72.3973 115.922 67.4071 116.112 62.3215H121.735C121.358 65.3022 120.325 68.1622 118.71 70.6958C117.096 73.2293 114.94 75.3735 112.397 76.974H112.448Z"
              fill="#4353ff"
              class="animate-pulse"></path>
            <rect
              x="17.3154"
              y="2"
              width="168.597"
              height="115.484"
              rx="8"
              stroke="#3d3d3d"
              stroke-width="3.3"></rect>
            <rect
              x="0.610352"
              y="131.273"
              width="202.006"
              height="5"
              rx="2.5"
              fill="#3d3d3d"></rect>
          </svg>
          <h4 class="target font-satoshi-semibold text-dark pb-2">
            Performance over Aestheics
          </h4>
        </div>
        <p
          class="text-dark text-opacity-80 font-satoshi leading-normal md:w-11/12 max-w-lg pt-2"
        >
          Creating a UI is like humanising a piece of tech; someone who is
          simple, likeable and approachable.
        </p>
      </div>

      <div>
        <div class="flex flex-nowrap items-center gap-5">
          <svg
            width="203"
            height="138"
            viewBox="0 0 203 138"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            class="w-14 h-14"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M96.5874 42.1286C96.3528 42.3632 96.1607 43.1912 96.1607 43.9695C96.1607 45.3728 96.1037 45.3837 88.8654 45.3837C83.1795 45.3837 81.241 45.1685 80.0802 44.4078C78.1471 43.1409 75.7218 43.7392 74.8265 45.7038C73.3026 49.048 76.9633 52.0395 80.0802 49.9967C81.0683 49.3499 82.9122 49.0208 85.5533 49.0208H89.5364L87.9834 51.2939C86.2092 53.8901 84.3804 59.3808 83.7542 63.9883C83.3705 66.8179 83.1638 67.1543 81.712 67.3222C80.1044 67.5083 80.0972 67.5314 80.0972 72.6614V77.8138H85.2496H90.4021V72.6614V67.5089L88.6896 67.3125C87.0415 67.124 86.9911 67.021 87.3664 64.5848C88.4187 57.7514 91.1173 51.6346 93.6875 50.2592C95.4557 49.3129 96.0558 49.4827 96.2698 50.9908C96.4535 52.2832 96.7347 52.3547 101.616 52.3547C106.498 52.3547 106.779 52.2832 106.963 50.9908C107.177 49.4827 107.777 49.3129 109.545 50.2592C112.115 51.6346 114.814 57.7514 115.866 64.5848C116.241 67.021 116.191 67.124 114.543 67.3125L112.83 67.5089V72.6614V77.8138H117.983H123.135V72.6614C123.135 67.5314 123.128 67.5083 121.52 67.3222C120.069 67.1543 119.862 66.8179 119.478 63.9883C118.852 59.3808 117.023 53.8901 115.249 51.2939L113.696 49.0208H117.679C120.32 49.0208 122.164 49.3499 123.152 49.9967C125.085 51.2636 127.511 50.6653 128.406 48.7007C129.93 45.3565 126.269 42.365 123.152 44.4078C121.992 45.1679 120.057 45.3837 114.408 45.3837H107.152L106.96 43.7168C106.771 42.0692 106.712 42.048 101.891 41.8758C99.2085 41.78 96.822 41.8934 96.5874 42.1286ZM103.435 47.2022C103.435 48.8189 103.233 49.0208 101.616 49.0208C99.9996 49.0208 99.7977 48.8189 99.7977 47.2022C99.7977 45.5856 99.9996 45.3837 101.616 45.3837C103.233 45.3837 103.435 45.5856 103.435 47.2022ZM87.0681 72.6614C87.0681 74.278 86.8663 74.4799 85.2496 74.4799C83.633 74.4799 83.4311 74.278 83.4311 72.6614C83.4311 71.0447 83.633 70.8429 85.2496 70.8429C86.8663 70.8429 87.0681 71.0447 87.0681 72.6614ZM119.801 72.6614C119.801 74.278 119.599 74.4799 117.983 74.4799C116.366 74.4799 116.164 74.278 116.164 72.6614C116.164 71.0447 116.366 70.8429 117.983 70.8429C119.599 70.8429 119.801 71.0447 119.801 72.6614Z"
              fill="#4353ff"
              class="animate-pulse"></path>
            <rect
              x="17.3213"
              y="2"
              width="168.597"
              height="115.484"
              rx="8"
              stroke="#3d3d3d"
              stroke-width="3.3"></rect>
            <rect
              x="0.616211"
              y="131.273"
              width="202.006"
              height="5"
              rx="2.5"
              fill="#3d3d3d"></rect>
          </svg>
          <h4 class="font-satoshi-semibold text-dark pb-2">
            Expericence over Everything
          </h4>
        </div>
        <p
          class="text-dark text-opacity-80 font-satoshi leading-normal md:w-11/12 max-w-lg pt-3"
        >
          Utlimately, I try to deliver value through my products. I test my work
          against every industry standard touchstone.
        </p>
      </div>
    </div>
  </section>
</section>
