---
---

<section
  class="h-screen max-h-[750px] min-h-[400px] flex justify-center flex-col pb-24 body-container blade-x-padding border-b-1"
>
  <section class="text-center">
    <h1 class="font-satoshi-bold text-dark uppercase">Rakesh Gupta</h1>
  </section>
  <h5
    class="text-dark text-opacity-60 font-satoshi max-w-xl mx-auto text-center pt-3"
  >
    Passionate frontend developer who values freshness and is in love with dark
    mode and open-source.
  </h5>
  <a
    class="underline-offset-4 font-satoshi-bold 2xl:mt-8 bg-blue hover:no-underline hover:text-white lg:text-lg master-btn md:mt-8 md:text-lg mr-auto mt-5 px-8 py-3 rounded-full spaced-text text-base text-white uppercase mx-auto hover:outline-blue outline-offset-2 outline-2 outline"
    href="#projects"
    target="_self"
    rel="author">Explore My Work</a
  >
</section>
