---
---

<section
  id="skills"
  class="body-container px-3 flex divide-x-1 divide-gray md:flex-row flex-col border-t-1 border-b-1"
>
  <div
    class="blade-x-padding md:basis-64 xl:basis-80 shrink-0 pt-4 md:pt-9 pb-6 md:pb-11 leading-tight font-satoshi-light text-dark"
  >
    <h5 class="font-satoshi-semibold">
      I have got my <br class="md:block hiden" /> hands on...
    </h5>
    <button
      class="font-satoshi-bold text-lg focus:text-blue focus:outline-none outline-none underline-offset-[7px] decoration-2 underline mt-3 md:mt-4 lg:mt-6 skills-modal-open"
    >
      My Tech Stack
    </button>
  </div>
  <div
    class="skills-carousel-master relative w-full marquee flex-1 overflow-hidden min-h-[120px]"
  >
    <div class="h-full relative -translate-x-52 min-h-[120px]">
      <div class="h-full w-52 grid place-content-center absolute box px-10">
        <img
          height="10"
          width="10"
          src="/img/logos/html.svg"
          alt="html"
          class="w-full object-center grayscale object-contain h-16 md:h-20"
        />
      </div>
      <div class="h-full w-52 grid place-content-center absolute box px-10">
        <img
          height="10"
          width="10"
          src="/img/logos/css.svg"
          alt="css"
          class="w-full object-center grayscale object-contain h-16 md:h-20"
        />
      </div>
      <div class="h-full w-52 grid place-content-center absolute box px-10">
        <img
          height="10"
          width="10"
          src="/img/logos/js.svg"
          alt="js"
          class="w-full object-center grayscale object-contain h-16 md:h-20"
        />
      </div>
      <div class="h-full w-52 grid place-content-center absolute box px-10">
        <img
          height="10"
          width="10"
          src="/img/logos/react.svg"
          alt="react"
          class="w-full object-center grayscale object-contain h-16 md:h-20"
        />
      </div>
      <div class="h-full w-52 grid place-content-center absolute box px-10">
        <img
          height="10"
          width="10"
          src="/img/logos/nextjs.svg"
          alt="next"
          class="w-full object-center grayscale object-contain h-16 md:h-20"
        />
      </div>
      <div class="h-full w-52 grid place-content-center absolute box px-10">
        <img
          height="10"
          width="10"
          src="/img/logos/nodejs.svg"
          alt="nodejs"
          class="w-full object-center grayscale object-contain h-16 md:h-20"
        />
      </div>
      <div class="h-full w-52 grid place-content-center absolute box px-10">
        <img
          height="10"
          width="10"
          src="/img/logos/slack.svg"
          alt="slack"
          class="w-full object-center grayscale object-contain h-16 md:h-20"
        />
      </div>
      <div class="h-full w-52 grid place-content-center absolute box px-10">
        <img
          height="10"
          width="10"
          src="/img/logos/tailwind.svg"
          alt="tailwind"
          class="w-full object-center grayscale object-contain h-16 md:h-20"
        />
      </div>
    </div>
  </div>
</section>
<div
  class="skills-modal-wrapper overflow-y-auto translate-y-full fixed top-0 left-0 right-0 bottom-0 bg-white transition-all duration-300 ease-in-out z-40"
>
  <div
    class="text-black w-container pr-5 py-5 bg-noise sticky top-0 border-l-1 border-r-1 border-b-1 border-gray bg-white"
  >
    <button
      class="flex items-center font-satoshi-semibold flex-nowrap text-lg gap-2 spaced-text py-1 px-4 skills-modal-close ml-auto hover:text-blue focus:text-blue focus:outline-none"
    >
      <svg
        fill="none"
        height="20"
        shape-rendering="geometricPrecision"
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="1.5"
        viewBox="0 0 24 24"
        width="20"
      >
        <path d="M18 6L6 18"></path>
        <path d="M6 6l12 12"></path>
      </svg>
      Close
    </button>
  </div>

  <div
    class="flex body-container master-x-padding blade-top-padding divide-x-1 divide-gray flex-col xl:flex-row body-x-pading border-l-1 border-r-1 border-gray"
  >
    <div class="max-w-screen-lg w-full mx-auto pb-10 lg:pb-20">
      <div class="w-full flex flex-col gap-12">
        <div class="w-full">
          <h3 class="text-dark font-satoshi-semibold">Development</h3>
          <div class="grid mt-6">
            <div
              class="flex flex-wrap items-center gap-y-1 gap-x-10 justify-between px-5 border-t-1 border-gray py-4"
            >
              <h4 class="text-dark font-satoshi">HTML5</h4>
              <h6 class="text-dark text-opacity-80 font-satoshi">
                Semantic HTML, HTML APIs
              </h6>
            </div>
            <div
              class="flex flex-wrap items-center gap-y-1 gap-x-10 justify-between px-5 border-t-1 border-gray py-4"
            >
              <h4 class="text-dark font-satoshi">CSS3</h4>
              <h6 class="text-dark text-opacity-80 font-satoshi">
                SCSS, TailwindCSS, Chakra UI, Material UI
              </h6>
            </div>
            <div
              class="flex flex-wrap items-center gap-y-1 gap-x-10 justify-between px-5 border-t-1 border-gray py-4"
            >
              <h4 class="text-dark font-satoshi">Typescript</h4>
              <h6 class="text-dark text-opacity-80 font-satoshi">
                Vanilla JS and TS, Implementing browser APIs
              </h6>
            </div>
            <div
              class="flex flex-wrap items-center gap-y-1 gap-x-10 justify-between px-5 border-t-1 border-gray py-4"
            >
              <h4 class="text-dark font-satoshi">ReactJS</h4>
              <h6 class="text-dark text-opacity-80 font-satoshi">
                Lifecycle Methods, Context and Native APIs
              </h6>
            </div>
            <div
              class="flex flex-wrap items-center gap-y-1 gap-x-10 justify-between px-5 border-t-1 border-gray py-4"
            >
              <h4 class="text-dark font-satoshi">NextJS</h4>
              <h6 class="text-dark text-opacity-80 font-satoshi">
                Using Server Side React - Supercharging ReactJS
              </h6>
            </div>
            <div
              class="flex flex-wrap items-center gap-y-1 gap-x-10 justify-between px-5 border-t-1 border-gray py-4"
            >
              <h4 class="text-dark font-satoshi">NodeJS</h4>
              <h6 class="text-dark text-opacity-80 font-satoshi">
                JS Based backend; All major backend features{" "}
              </h6>
            </div>
            <div
              class="flex flex-wrap items-center gap-y-1 gap-x-10 justify-between px-5 border-t-1 border-gray py-4"
            >
              <h4 class="text-dark font-satoshi">AngularJS</h4>
              <h6 class="text-dark text-opacity-80 font-satoshi">
                Next in line, Seems promising so far
              </h6>
            </div>
            <div
              class="flex flex-wrap items-center gap-y-1 gap-x-10 justify-between px-5 border-t-1 border-gray py-4"
            >
              <h4 class="text-dark font-satoshi">MERN Stack</h4>
              <h6 class="text-dark text-opacity-80 font-satoshi">
                Creating end-to-end experiences
              </h6>
            </div>
            <div
              class="flex flex-wrap items-center gap-y-1 gap-x-10 justify-between px-5 border-t-1 border-gray py-4"
            >
              <h4 class="text-dark font-satoshi">Golang</h4>
              <h6 class="text-dark text-opacity-80 font-satoshi">
                Learning to make myself a Backend Ninja
              </h6>
            </div>
          </div>
        </div>
        <div class="w-full">
          <h3 class="text-dark font-satoshi-semibold">Design</h3>
          <div class="grid gap-3 divide-y-1 divide-gray mt-6">
            <div
              class="flex flex-wrap items-center gap-y-1 gap-x-10 justify-between px-5 border-t-1 border-gray py-4"
            >
              <h4 class="text-dark font-satoshi">Figma</h4>
              <h6 class="text-dark text-opacity-80 font-satoshi">
                Basic tool literacy
              </h6>
            </div>
          </div>
        </div>
        <div class="w-full">
          <h3 class="font-satoshi-semibold">Project Management</h3>
          <div class="grid divide-y-1 divide-gray mt-6 text-lg xl:text-xl">
            <div
              class="flex flex-wrap items-center gap-y-1 gap-x-10 justify-between px-5 border-t-1 border-gray py-4"
            >
              <h4 class="text-dark font-satoshi">Google Workspace</h4>
              <h6 class="text-dark text-opacity-80 font-satoshi">
                G-Mail, G-Drive, G-Docs, G-Sheets
              </h6>
            </div>
            <div
              class="flex flex-wrap items-center gap-y-1 gap-x-10 justify-between px-5 border-t-1 border-gray py-4"
            >
              <h4 class="text-dark font-satoshi">Slack</h4>
              <h6 class="text-dark text-opacity-80 font-satoshi">
                Communication,File Sharing
              </h6>
            </div>
            <div
              class="flex flex-wrap items-center gap-y-1 gap-x-10 justify-between px-5 border-t-1 border-gray py-4"
            >
              <h4 class="text-dark font-satoshi">Notion</h4>
              <h6 class="text-dark text-opacity-80 font-satoshi">
                Project Management
              </h6>
            </div>
          </div>
        </div>
        <div class="w-full">
          <h3 class="text-dark font-satoshi-semibold">Cloud</h3>
          <div class="grid divide-y-1 divide-gray mt-6 text-lg xl:text-xl">
            <div
              class="flex flex-wrap items-center gap-y-1 gap-x-10 justify-between px-5 border-t-1 border-gray py-4"
            >
              <h4 class="text-dark font-satoshi">Netlify</h4>
              <h6 class="text-dark text-opacity-80 font-satoshi">
                Hosting website, Integrate custom domains
              </h6>
            </div>
            <div
              class="flex flex-wrap items-center gap-y-1 gap-x-10 justify-between px-5 border-t-1 border-gray py-4"
            >
              <h4 class="text-dark font-satoshi">Vercel</h4>
              <h6 class="text-dark text-opacity-80 font-satoshi">
                Hosting, Staging server, Domain Inetegration
              </h6>
            </div>
            <div
              class="flex flex-wrap items-center gap-y-1 gap-x-10 justify-between px-5 border-t-1 border-gray py-4"
            >
              <h4 class="text-dark font-satoshi">AWS</h4>
              <h6 class="text-dark text-opacity-80 font-satoshi">
                Amplify, S3 Buckets, Basic literacy
              </h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  import { gsap } from "gsap";
  gsap.set(".skills-carousel-master .box", {
    x: (i) => i * 208,
  });
  gsap.to(".skills-carousel-master .box", {
    duration: 15,
    ease: "none",
    x: "-=1664",
    modifiers: {
      x: gsap.utils.unitize((x) => parseFloat(x + 1664) % 1664),
    },
    repeat: -1,
  });
  const skillsModalWrapper = document.querySelector(
    ".skills-modal-wrapper"
  )! as HTMLDivElement;
  const skillsModalOpen = document.querySelector(
    ".skills-modal-open"
  )! as HTMLButtonElement;
  const skillsModalClose = document.querySelector(
    ".skills-modal-close"
  )! as HTMLButtonElement;
  skillsModalOpen.addEventListener("click", () => {
    document.body.style.overflow = "hidden";
    skillsModalWrapper.classList.replace("translate-y-full", "translate-y-0");
    skillsModalClose.focus();
  });
  skillsModalClose.addEventListener("click", () => {
    skillsModalWrapper.classList.replace("translate-y-0", "translate-y-full");
    skillsModalOpen.focus();
    setTimeout(() => {
      document.body.style.overflow = "auto";
    }, 300);
  });
</script>
